body {
  margin: 0;
}
#searchBar {
  width: 50%;
  text-align: center;

}

.input-value {
  width: 100%;
  height: 5%;
  font-size: 15px;
}

#redditImg {
  height: 10%;
  width: 10%;
}

h1 {
  margin-top: 0;
}

.search-and-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
