<div class="search-and-links">
  <div id="searchBar" class="{{if userText 'search-top'}}">
    <img id="redditImg" src="/reddit-adventures/img/reddit_guy.png" alt="reddit icon">
    <h1>Choose a subreddit</h1>
    {{input class="input-value" value=userText key-up=(action 'get-posts')}}
  </div>

  <ul>
    {{#each subredditPosts as |post|}}
    <li><a href={{post.url}} target="_blank">{{post.title}}</a></li>
    {{/each}}
  </ul>
</div>

